<div class="container" style="padding-top: 1%">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'New Chemical Structure', new_chemical_structure_path, class: "btn btn-success pull-right" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="marvin_table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Structure bs64</th>
            <th>Action</th>
            <th class="hide">Created On</th>
          </tr>
          </thead>

          <tbody>
          <% @chemical_structures.order("created_at DESC").each do |chemical_structure| %>
            <tr>
              <td><%= chemical_structure.name %></td>
              <td><%= image_tag(chemical_structure.structure_bs64, width: "200px") %></td>
              <td><%= link_to 'Edit', edit_chemical_structure_path(chemical_structure) %></td>
              <td class="hide"><%= chemical_structure.created_at %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





<script>
    $("document").ready(function () {
        $("#marvin_table").DataTable({
            "pageLength": 10,
            "order":[
                [3,'DESC']
            ]
        });
    })
</script>