<div id="sketch" data-toolbars="reporting"></div>


<%= simple_form_for @marvin_structure do |f| %>
  <%= f.input :name %>
  <%= f.input :structure %>
  <%= f.input :marvinbs64 %>
  <%= f.button :submit %>
<% end %>